
*, html
*::before
*::after{

    box-sizing: border-box;
}

body {
margin: auto;
width: 1000px;
height: 1000px;
box-sizing: border-box;
}

header{
box-shadow: 1px 2px 6px #8f8e8e;
}

.page{
    background-color: rgb(198, 212, 208);
    margin: auto;
    max-width: 800px;
    @media only screen and (min-width: 600px) {
       
    }
}

.hamburger{ /* Får ej till det. Funkar ej. Varför? */
    right: 0;
    padding: .6rem .6rem .3rem .6rem;
    position: fixed;
    z-index: 1;
    @media only screen and (min-width: 600px) {
        display: none;
    }
}

h1{
    color: rgb(8, 99, 82);
    align-self: center;
    font:normal 20px Open Sans;
    @media only screen and (min-width:600px){
        font-size: 40px;
    }
}

h2{
    padding-top: 35%;
    padding-bottom: 10%;
    color: #070707;
    text-align: center;
    font: bold 20px Open Sans;
    @media only screen and (min-width:600px){
        padding-top: 50%;
        font-size: 25px;    
    }
}

h3{
    color: #070707;
    @media only screen and (min-width:600px){
        text-align: center;
        font-size: 25px;
    }
}

p{
    text-align: center;
    color: #070707;
    @media only screen and (min-width: 600px){
        text-align: justify;
    }
}
/*Här är min grid */

.galleri{
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
    grid-template-areas: "galleri__item0 galleri__item0 galleri__item0 galleri__item0"
    "galleri__item1 galleri__item1 galleri__item1" "galleri__item2 galleri__item2 galleri__item2" 
    "galleri__item3 galleri__item3 galleri__item3";

    @media only screen and (min-width: 600px) {
        grid-template-areas: "galleri__item0 galleri__item0 galleri__item0 galleri__item0"
    "galleri__item1 galleri__item1 galleri__item1" "galleri__item2 galleri__item2 galleri__item2" 
    "galleri__item3 galleri__item3 galleri__item3";
    }
}


.photo-img {
    width: 100%;
    height: 100%;
}

.galleri__item0 { /*Här är fotot hand */
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 10;
}

.galleri__item1 { /*Här är fotot Logo */
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 7;
}
.galleri__item2 { /*Här är fotot plant */
    grid-column-start: 6;
    grid-column-end: 15;
    grid-row-start: 1;
    grid-row-end: 7;
    background-color: rgb(80, 36, 7);
}
.galleri__item3 { /*Här är fotot dig */
    grid-column-start: 6;
    grid-column-end: 16;
    grid-row-start: 6;
    grid-row-end: 10;
    background-color:rgb(4, 92, 92) ;
}


/* Här börjar min navbar! */

.navbar ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    background-color: rgba(248, 241, 241, 0.897);
    padding: 15px;
    margin: 0px;
    overflow: hidden;
}

.navbar li{
    display: none;
    background-color: rga(242, 253, 255);
@media only screen and (min-width: 600px){
    display: flex;
}
}

.navbar {  
    
    font-family: Georgia, Times, serif;
    font-size: 20px;
    letter-spacing: .1em;
    a {
font: bold 20px Open Sans;
text-decoration: none;
text-align: center;
flex: 0 0 100%;
color: rgba(10,132,110,1)
    }
}

.navbar a {
    color: rgba(52, 128, 141, 0.904);
    text-decoration: none;
    display: block;
    width: 100px;
    text-align: center;

}


.navbar a:hover {
    background-color: rgb(32, 114, 146);
}


h1 { /*Detta rubriken PLANNED PLANTHOOD */
    text-align: center;
    letter-spacing: .1em;
    color: rgb(13, 112, 129);
}

.section {   
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5em;
    flex-shrink: 1;
    grid-row: span 14;
}

.container1 { 
display: flex;
width: 40%;
height: 100%;
flex-direction: column0;
justify-content: center;
flex-wrap: wrap;
padding: 1rem;
@media only screen and (min-width: 600px){
    flex-direction: row-reverse;
    padding: 2rem;
}
}

.column1 img { /*Detta är fotot precis under menyn.*/
    height: 100%;
    width: 100%;
    padding: 5%;  
}

.column1 {  
background-color: #0a856e;
align-self: center;
display: flex;
border-radius: 100%;
width: 100%;
height: 100%;
flex-shrink: 1;
}

.CentreraKnapp{
    text-align: center;
    align-items: center;
}

hr {
    border: 1px solid  rgb(13, 112, 129);
    width: 190px;
    margin: 1rem auto;
}


/*Våra planerade planteringar*/
.ikon1--kort{
    top: 40%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ikon1--mitten-höger{
    transform: none;
    width: 20px;
    height: 20px;

}

.Otips_planta0{
width: 230px;
height: 230px;
margin: 1rem;
border: none;
position: relative;
border-radius: 240px;
background-color:  rgba(10, 132, 110, 1);
@media only screen and (min-width: 600px){
    width: 345px;
    margin: 0.5rem;
    height: 345px;
    
}

}
.ettkort--bild0 { 
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: end;
    background-color: rgb(242, 253, 253);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 4px 7px #424040;
    border: solid #ccc;
    border-radius: 8px;
    padding: 2rem;
    @media only screen and (min-width: 600px){
        
    }
}


.envaxt { 
    display: grid;
    padding: 1rem;
    gap: 1rem;
    margin-top: 5rem;
    grid-template-columns: repeat(3, 1fr);
@media only screen and (min-width: 600px){
      
    }
}

.ikon1{ 
    display:grid;
    box-shadow: 0 3px 6px #383838;
    position: relative;
    background-size: cover;
    flex-direction: column;
    justify-content: end;
    background-color: rgb(197, 211, 211);
    background-repeat: no-repeat;

}

.vanligtkort{
    height: 60px;
    width: 100%;
    bottom: 1px;
    position:relative;
    background-color: white;
    }


.ikon1--kort0{ /*IKONERNA till bilderna */
    background-image: url("assets/images/gurka.avif");
}

.ikon1--kort1{ /*IKONERNA till bilderna */
background-image:url("assets/images/tomater.avif");
}

.ikon1--kort2{  /*IKONERNA till bilderna */
background-image: url(assets/images/tomat.avif);
}

.ikon1--kort3{ /*IKONERNA till bilderna */
background-image: url("assets/images/ärta.avif");

}

.ikon1--kort4{ /*IKONERNA till bilderna */
background-image: url("assets/images/lilagrönsak.avif");
}

.ikon1--kort5{ /*IKONERNA till bilderna */
 background-image: url("assets/images/cloesupväxt.avif");
}

.rad1{
padding: 0 1 rem;
display: flex;
justify-content: space-between;
}

.rad2{
padding: 0 1rem;
margin: 10px 0;
display: flex;
justify-content: space-between;
}


.button02{
background-color: rgb(160, 11, 85);
text-align: center;
color: white;
padding: 1rem;
align-self: center;
cursor: pointer;
border-radius: 15px;
box-shadow: 0 4px 7px #bdbaba;
@media only screen and(max-width: 480px) {
        display: none;
}
}
.fa-trash-o{ /*Går ej att få bort soptunnan och går ej att få bort ta bort knappen när sidan är på mobile-mode  */
@media only screen and (min-width: 480px){
    
    width: 25px;
    height: 25px;
    display: block;
}
}


/*Våra tidigare odlingar börjar här */

.container0{
    display: flex;
    padding: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media only screen and (min-width: 600px){
        flex-direction: row-reverse;
        padding: 3rem;
    }
 }

 .tips_planta0{ 
    margin: 2rem 0;
    width: 300px;
    height: 300px;
    border: none;
    position: relative;
    border-radius: 300px;
    background-color: rgba(10,132,110,1);
    @media only screen and (min-width: 600px){
        width: 340px;
        height: 340px;
        margin: 0rem;
        
    }
}


 .column0 { 
    display: flex;
    flex-direction: column;
    align-items: center;
    @media only screen and (min-width: 600px){
        padding: 0 2 rem;
        flex: 0 0 55%;
        align-items: baseline; 
    }
 }

 /*Detta är Planterade plantor knappen */
 .button1-vanster {
    @media only screen and (min-width: 600px){
        margin: 1rem auto 0px 0px;
        
    }
 }

 /*Detta är "visa fler" knappen */ 

.button0-right{
    @media only screen and (min-width: 600px){
        margin: 1rem auto 0px 0px;
    }
}

/*Här är Planterade plantor knappen */ 
.button{
    @media only screen and(min-width:600px) {
        margin: 1rem 0 0 auto;
    }

}

.Knapp{
    text-align: center;

}
.CentreraKnapp, .button-vanster, .button0-right{ /*Här är styling på nästan alla knappar. */
    display: inline-block;
    background-color: rgba(10, 132, 110, 1);
    text-align: center;
    color: white;
    padding: 1rem;
    align-self: center;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0 4px 7px #383838;
    max-width: max-content;
    font-style: normal;
    font-size: large;
    margin: 2rem;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600px;
    @media only screen and(min-width: 600px) {
        margin: 1rem auto 0px 0px;
    }
}

.enlogo--bild{
top: 40%;
left: 50%;
position: absolute;
transform: translate(-50%, -50%);
}

 .container0{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    @media only screen and  (min-width: 600px){
        flex-direction: row-reverse;
        padding: 3 rem;
    }

 }

 .button-vanster{
    @media only screen and (min-width: 600px){

        margin: 1rem auto 0px 0px;
    }
}

/*styling på slutet av sidan*/

.kontaktuppgift{
    padding: 0 5rem;
}

 .inform_1 { 
    position: relative;
    height: 500px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-image: url("assets/images/handsidan.avif");
    background-repeat: no-repeat;
    @media only screen and (min-width: 600px) {
        height: 500px;
    
    }
 }

 .logoinformation101 {
    top:0%;
    position: absolute;
    left: 50%;
    width: 55%;
    height: 100%;
    @media only screen and (min-width: 600px){
    width: 100%;
    height: 50%;
    top: 0%;
    left: 50%;
        
    }
}

.ikon0ikon0Stor-center{ /*Hjärta ikonen*/
height: 70%;

}

.meddelande { /*Vi hörs texten */
    top: 45%;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    
    
}

.message{
    font-size: larger;
    color: #070707;
}

.information{ /*kontaktinformationen är här längst ner*/
    width: 100%;
    padding: 1rem;
    height: 50%;
    background: rgb(5, 5, 5); 
    padding: 1rem;
    top: 50%;
    bottom: 0;
    left: 0;
    color:#fae7e7;
    background: rgba(19, 18, 18, 0.6);
    position: absolute;
    align-content: end;
     @media only screen and (min-width: 600px){
        height: 100%;
        top:0%;
        width: 50%;
     }
     
     }

.infoinneholl0{ 
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 35px;
    bottom: 6%;
 }

 .inform1{ 
    display: inline-flex;
    color: rgb(253, 247, 247);
    font-family: Open Sans;
    height: 90%;
    width: 20%;
    text-decoration: none;
}

 .infoinneholl1{
    display: inline-flex;
    font-family: Open Sans;
 color: white;
 text-decoration: none;
 }

 .kontaktuppgift{
    padding: 1rem;
    text-decoration: rgb(241, 206, 206);
 }

.returlänk{
    text-align: center;
    width: 90%;
}


.returlänkmove{
    display: inline-flex;
    font: bold 20px Open Sans;
    color: black;
    padding: 1rem 0;
    text-decoration: none;
    cursor: pointer;

}

.retur-länkmove{
    width: 80px; 
    margin-block: 30px;

}



/*Styling för Sida2 */


.MittFormulär{
padding: 2rem;
}




.formulärKnapp{
    display: inline-block;
    background-color: rgba(10, 132, 110, 1);
    text-align: center;
    color: white;
    padding: 1rem;
    align-self: center;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0 6px 10px #424040;
    max-width: max-content;
    font-style: normal;
    font-size: large;
    margin: 2rem;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600px;
    @media only screen and(min-width: 600px) {
        margin: 1rem auto 0px 0px;
    }

}

.envaxt-sida2{
        display: grid;
        padding: 1rem;
        gap: 1rem;
        margin-top: 5rem;
        grid-template-columns: repeat(3, 1fr);
    @media only screen and (min-width: 600px){
          
        }
    }

    .Gallery {
        display: grid;
        background-color: #e2a66e;
        width: 100%;
        padding: 1rem;
        gap: 1rem;
        margin-top: 2rem;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,110px);
        grid-template-areas: "z å" 
        "ä ö";
        @media only screen and (min-width: 600px) {
            gap: 1rem;
            grid-template-columns: repeat(4,2fr);
            grid-template-rows: repeat(1, 400px);
            grid-template-areas: "z å ä ö";
        }
        img{
            object-fit: cover;
            height: 100%;
            width: 100%;


        }

    }

    .box1{
        grid-area: z;
        

    }

    .box2{
        grid-area: å;
        
    }

    .box3{
        grid-area: ä;
    
    }

    .box4{
        grid-area: ö;
    
    }
